name: Quarto Publish

on:
  push:
    branches: main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render English
        run: quarto render --profile en

      - name: Render Russian
        run: quarto render --profile fr

      - name: Add .nojekyll
        run: touch _site/.nojekyll

      - run: echo '<meta http-equiv="refresh" content="0; url=en/">' > _site/index.html

      # ----------------------------------------------------------------
      # 3. DEPLOY
      # ----------------------------------------------------------------
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site