name: Quarto Publish

on:
  push:
    branches: ['**']
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render English
        run: quarto render --profile en

      - name: Render French
        run: quarto render --profile fr

      - name: Render main site
        run: quarto render redirect.qmd -o index.html

      # - name: Copy redirect
      #   run: cp index.html _site/index.html

      - name: Add .nojekyll
        run: touch _site/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site